.container {
  .label {
    margin-top: 20px;
    padding: 0 30px;
    font-size: 18px;
    font-weight: bold;
  }
  .generate {
    display: flex;
    column-gap: 20px;
    margin: 30px;

    &_button {
      width: 200px;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px;
  }
}
