.container {
  .generate_wrap {
    margin-top: 70px;
    .generate {
      display: flex;
      column-gap: 14px;
      margin: 16px;

      &_button {
        width: 200px;
      }

      &_align_button {
        padding: 0 20px;
        border-radius: 5px;
        border: none;
      }
    }
  }

  .button_wrap {
    padding: 10px 16px;
    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .empty_text {
      background-color: rgb(0, 146, 100);
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      .label {
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
